body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url(assets/bumas_poster_1500x500_.png);
  background-size: cover; /* Зробити картинку такою, щоб вона покривала весь екран */
  background-position: center; /* Центрування картинки */
  background-repeat: no-repeat; /* Уникнення повторів картинки */
}

h1 {
  color: #333;
}
