body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Забезпечує висоту вікна браузера */
  background-color: #f5f5f5; /* Базовий колір фону */
  background-image: url(assets/bumas_poster_1500x500_.png); /* Додано лапки для шляху до зображення */
  background-size: cover; /* Картинка покриває весь екран */
  background-position: center; /* Центрування картинки */
  background-repeat: no-repeat; /* Уникнення повторення картинки */
  height: 50vh; /* Висота вікна */
  width: 150vw; /* Ширина вікна */
}

h1 {
  color: #333;
}
